<div class="section-container <%= section.horizontal_position == Section.get_horizontal_positions[:side_body] ? "side #{section.name}" : section.name%>">
  <%= simple_form_for section, url: user_cv_section_path(user_id: current_user.id, cv_id: @cv.id, id: section.id), method: :patch, remote: true, html: { class: 'customized record-form' } do |f| %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <label class="title"><%= t(".#{section.name}_name") %></label>
    <div class="header">
      <div class="custom-name-container">
        <%= f.input :custom_name, class: 'form-control', label: false, placeholder: t(".#{section.name}_name"), input_html: { onchange: "submitSectionOnChange(this)" } %>
      </div>
      <div class="position-dropdown">
        <%= f.input :horizontal_position, as: :select, collection: Section.get_human_horizontal_positions, class: 'form-control', required: false, include_blank: false, label: false, input_html: { onchange: "submitSectionOnChange(this)" } %>
      </div>
      <%= render partial: 'sections/section_buttons', locals: { section: section } %>
    </div>
    <div class="courses-container">
      <%= render partial: 'courses/courses_list', locals: { section: section } %>
    </div>
    <div class="form-group submit hidden">
      <%= f.submit t('.add_section'), class: 'add-section-button' %>
    </div>
  <% end %>
</div>