<div class="sections-container">
  <%= simple_form_for @cv, url: user_cv_sections_path(user_id: current_user.id, cv_id: @cv.id), method: :post, remote: true, html: { class: 'customized record-form' } do |f| %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <label class="title section"><%= t('.sections') %></label>
    <div class="sections-dropdown">
      <%= f.input :name, as: :select, collection: @cv.get_available_human_names, class: 'form-control', required: false, include_blank: false, label: false %>
    </div>
    <div class="form-group submit">
      <div class="dropdown show">
        <%= f.submit t('.add_section'), class: 'add-section-button' %>
        <div style="padding: 15px;" class="dropdown-menu" aria-labelledby="backToSectionsDropdownMenu">
          <%= t('.add_new_section') %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="buttons-container">
  <div class="dropdown show">
    <%= link_to display_personal_information_user_cv_path(user_id: current_user.id, id: @cv.id), method: :patch, class: 'back-button', remote: true do %>
      <%= inline_svg_tag 'back-icon.svg', class:"icon white round-button large" %>
    <% end %>
    <div style="padding: 15px;" class="dropdown-menu" aria-labelledby="backToSectionsDropdownMenu">
      <%= t('.back') %>
    </div>
  </div>
  <div class="dropdown show">
    <%= link_to display_styles_user_cv_path(user_id: current_user.id, id: @cv.id), method: :patch, class: 'next-button', remote: true do %>
      <%= inline_svg_tag 'next-icon.svg', class:"icon white round-button large" %>
    <% end %>
    <div style="padding: 15px;" class="dropdown-menu" aria-labelledby="goToStylesDropdownMenu">
      <%= t('.next') %>
    </div>
  </div>
</div>