<div class="sections-container">
  <%= simple_form_for @cv, url: user_cv_sections_path(user_id: current_user.id, cv_id: @cv.id), method: :patch, remote: true, html: { class: 'customized record-form' } do |f| %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <label class="title"><%= t('.sections') %></label>
    <div class="sections-dropdown">
      <%= f.input :name, as: :select, collection: @cv.get_available_human_names, class: 'form-control', required: false, include_blank: false, label: false %>
    </div>
    <div class="form-group submit">
      <%= f.submit t('.add_section'), class: 'add-section-button' %>
    </div>
  <% end %>
  <div id="buttons-container">
    <%= link_to display_personal_information_user_cv_path(user_id: current_user.id, id: @cv.id), method: :patch, class: 'edit-personal-information', remote: true do %>
      <%= inline_svg_tag 'back-icon.svg', class:"icon white round-button" %>
    <% end %>
    <%= link_to display_styles_user_cv_path(user_id: current_user.id, id: @cv.id), method: :patch, class: 'edit-personal-information', remote: true do %>
      <%= inline_svg_tag 'next-icon.svg', class:"icon white round-button" %>
    <% end %>
  </div>
</div>