paganini patelni
<%=params%>
<div class="cv-styles-container">
  
  <div id="buttons-container">
    <%= link_to display_sections_user_cv_path(user_id: current_user.id, id: @cv.id), method: :patch, class: 'edit-personal-information', remote: true do %>
      <%= inline_svg_tag 'back-icon.svg', class:"icon white round-button" %>
    <% end %>
    <%= link_to download_pdf_user_cv_path(format: :pdf, user_id: current_user.id, id: @cv.id), method: :post, class: 'download-cv' do %>
      <%= "download" %>
    <% end %>
  </div>
</div>