<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title><%= @cv.name %></title>
  <style>
    <%= render_scss("pdfs/style3.scss") %>
  </style>
  <%= render 'layouts/variables' %>
</head>
<body>
  <div class="pdf__file">
    <div class="side-body">
      <div class="side-body-content-container">
        <div class="header-container">
          <div class="photo">
            <%= image_tag "data:image/png;base64,#{Base64.encode64(@cv.main_photo.download)}", class: 'cv-photo' %>
          </div>
        </div>

        <div class="data-container">
          <div class="email">
            <label><%= I18n.t("pdfs.personal_information.email") %></label>
            <%= @cv.email %>
          </div>
          <div class="phone-number">
            <label><%= I18n.t("pdfs.personal_information.phone_number") %></label>
            <%= @cv.phone_number %>
          </div>
          <div class="address">
            <label><%= I18n.t("pdfs.personal_information.address") %></label>
            <%= @cv.address %>
          </div>
          <div class="birth-date">
            <label><%= I18n.t("pdfs.personal_information.birth_date") %></label>
            <%= @cv.birth_date.strftime("%d.%m.%Y") %>
          </div>
          <div class="sex">
            <% if @cv.sex != Cv.get_sexes[:unspecified] %>
              <label><%= I18n.t("pdfs.personal_information.sex") %></label>
              <%= @cv.sex %>
            <% end %>
          </div>
          <div class="drivers-licence">
            <label><%= I18n.t("pdfs.personal_information.drivers_licence") %></label>
            <%= @cv.drivers_licence %>
          </div>

          <div class="websites">
            <% if @cv.linkedin.present? %>
              <div class="website">
                <label><%= I18n.t("pdfs.personal_information.linkedin") %></label>
                <% linkedin_path = @cv.linkedin.to_s.sub(%r{\A(https?://)?(www\.)?linkedin\.com}, "") %>
                <%= linkedin_path.start_with?("/") ? linkedin_path : "/#{linkedin_path}" %>
              </div>
            <% end %>

            <% if @cv.facebook.present? %>
              <div class="website">
                <label><%= I18n.t("pdfs.personal_information.facebook") %></label>
                <%= @cv.facebook %>
              </div>
            <% end %>

            <% if @cv.twitter.present? %>
              <div class="website">
                <label><%= I18n.t("pdfs.personal_information.twitter") %></label>
                <%= @cv.twitter %>
              </div>
            <% end %>

            <% if @cv.instagram.present? %>
              <div class="website">
                <label><%= I18n.t("pdfs.personal_information.instagram") %></label>
                <%= @cv.instagram %>
              </div>
            <% end %>

            <% if @cv.github.present? %>
              <div class="website">
                <label><%= I18n.t("pdfs.personal_information.github") %></label>
                <% github_path = @cv.github.to_s.sub(%r{\A(https?://)?(www\.)?github\.com}, "") %>
                <%= github_path.start_with?("/") ? github_path : "/#{github_path}" %>
              </div>
            <% end %>

            <% if @cv.website.present? %>
              <div class="website">
                <label><%= I18n.t("pdfs.personal_information.website") %></label>
                <%= @cv.website %>
              </div>
            <% end %>
          </div>
        </div>

        <div class="side-body-content">
          <% sections = @cv.sections.where(horizontal_position: Section.get_horizontal_positions[:side_body]) %>
          <% sections.order(:vertical_position).each do |section| %>
            <div class="divider"></div>

            <% case section.name %>
            <% when Section.get_names[:description_section] %>
              <div class="description-section">
                <div class="description-content">
                  <%= section.content %>
                </div>
              </div>

            <% when Section.get_names[:certificates_section] %>
              <div class="certificate-section">
                <div class="certificates-header">
                  <%= section.custom_name.present? ? section.custom_name : I18n.t("pdfs.#{section.name}") %>
                </div>
                <div class="certificates-container">
                  <% section.certificates.order(:position).each do |certificate| %>
                    <div class="certificate-row">
                      <div class="certificate-header">
                        <div class="name"><%= certificate.name %></div>
                        <div class="date"><%= certificate.date.strftime("%m.%Y") %></div>
                      </div>
                      <div class="certificate-description"><%= certificate.description %></div>
                    </div>
                  <% end %>
                </div>
              </div>

            <% when Section.get_names[:courses_section] %>
              <div class="course-section">
                <div class="courses-header">
                  <%= section.custom_name.present? ? section.custom_name : I18n.t("pdfs.#{section.name}") %>
                </div>
                <div class="courses-container">
                  <% section.courses.order(:position).each do |course| %>
                    <div class="course-row">
                      <div class="course-header">
                        <div class="course-name">
                          <div class="name"><%= course.name %></div>
                          <div class="institution"><%= course.institution %></div>
                        </div>
                        <div class="date"><%= course.start_date.strftime("%m.%Y") %></div>
                      </div>
                      <div class="course-description"><%= course.description %></div>
                    </div>
                  <% end %>
                </div>
              </div>

            <% when Section.get_names[:educations_section] %>
              <div class="education-section">
                <div class="educations-header">
                  <%= section.custom_name.present? ? section.custom_name : I18n.t("pdfs.#{section.name}") %>
                </div>
                <div class="education-container">
                  <% section.educations.order(:position).each do |education| %>
                    <div class="education-row">
                      <div class="education-header">
                        <div class="school-container">
                          <div class="university"><%= education.university %></div>
                          <div class="city"><%= education.city %></div>
                        </div>
                        <div class="dates">
                          <div class="start-date"><%= education.start_date.strftime("%m.%Y") %></div>
                          -
                          <div class="end-date">
                            <%= education.end_date.present? ? education.end_date.strftime("%m.%Y") : I18n.t("pdfs.current") %>
                          </div>
                        </div>
                      </div>
                      <div class="education-container">
                        <div class="faculty">
                          <label><%= I18n.t("pdfs.faculty") %></label>
                          <%= education.faculty %>
                        </div>
                        <div class="specialisation">
                          <label><%= I18n.t("pdfs.specialisation") %></label>
                          <%= education.specialisation %>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>

            <% when Section.get_names[:employments_section] %>
              <div class="employment-section">
                <div class="employments-header">
                  <%= section.custom_name.present? ? section.custom_name : I18n.t("pdfs.#{section.name}") %>
                </div>
                <div class="employment-container">
                  <% section.employments.order(:position).each do |employment| %>
                    <div class="employment-row">
                      <div class="employment-header">
                        <div class="job-title">
                          <%= employment.name %>
                          <div class="employer-container">
                            <div class="employer"><%= employment.employer %></div>
                            <div class="city"><%= employment.city %></div>
                          </div>
                        </div>
                        <div class="dates">
                          <div class="start-date"><%= employment.start_date.strftime("%m.%Y") %></div>
                          -
                          <div class="end-date">
                            <%= employment.end_date.present? ? employment.end_date.strftime("%m.%Y") : I18n.t("pdfs.current_work") %>
                          </div>
                        </div>
                      </div>
                      <div class="employment-description"><%= employment.description %></div>
                    </div>
                  <% end %>
                </div>
              </div>

            <% when Section.get_names[:skills_section] %>
              <div class="skills-section">
                <div class="skills-header">
                  <%= section.custom_name.present? ? section.custom_name : I18n.t("pdfs.#{section.name}") %>
                </div>
                <div class="skills-content"><%= section.content %></div>
              </div>

            <% when Section.get_names[:privacy_policy_sections] %>
              <div class="privacy-policy-section">
                <div class="privacy-policy-content"><%= section.content %></div>
              </div>

            <% when Section.get_names[:languages_section] %>
              <div class="languages-section">
                <div class="languages-header">
                  <%= section.custom_name.present? ? section.custom_name : I18n.t("pdfs.#{section.name}") %>
                </div>
                <div class="languages-container">
                  <% section.languages.order(:position).each do |language| %>
                    <div class="language-row">
                      <div class="language"><%= language.language %></div>
                      <div class="language-skill">
                        <%= Language.get_translations_languages_levels[language.language_level.to_sym] %>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>

            <% when Section.get_names[:interest_section] %>
              <div class="intrests-section">
                <div class="intrests-header">
                  <%= section.custom_name.present? ? section.custom_name : I18n.t("pdfs.#{section.name}") %>
                </div>
                <div class="intrests-content"><%= section.content %></div>
              </div>

            <% when Section.get_names[:references_section] %>
              <div class="references-section">
                <div class="references-header">
                  <%= section.custom_name.present? ? section.custom_name : I18n.t("pdfs.#{section.name}") %>
                </div>
                <div class="references-container">
                  <% section.references.order(:position).each do |reference| %>
                    <div class="reference-row">
                      <div class="company"><%= reference.company %></div>
                      <div class="contact-information">
                        <div class="contact-person">
                          <label><%= I18n.t("pdfs.contact_person") %></label>
                          <%= reference.contact_person %>
                        </div>
                        <div class="phone-number">
                          <label><%= I18n.t("pdfs.phone_number") %></label>
                          <%= reference.phone_number %>
                        </div>
                        <div class="email">
                          <label><%= I18n.t("pdfs.email") %></label>
                          <%= reference.email %>
                        </div>
                      </div>
                      <div class="reference-description"><%= reference.description %></div>
                    </div>
                  <% end %>
                </div>
              </div>

            <% when Section.get_names[:custom_section] %>
              <div class="custom-section-section">
                <div class="custom-section-header">
                  <%= section.custom_name.present? ? section.custom_name : I18n.t("pdfs.#{section.name}") %>
                </div>
                <div class="custom-section-content"><%= section.content %></div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="main-body">
      <div class="main-body-content-container">
        <div class="name">
          <%= "#{@cv.first_name} #{@cv.last_name}" %>
        </div>
        <% sections = @cv.sections.where(horizontal_position: Section.get_horizontal_positions[:main_body]) %>
        <% sections.order(:vertical_position).each_with_index do |section, index| %>
          <% unless index == 0 %>
            <div class="divider"></div>
          <% end %>

          <% case section.name %>
          <% when Section.get_names[:description_section] %>
            <div class="description-section">
              <div class="description-content"><%= section.content %></div>
            </div>

          <% when Section.get_names[:certificates_section] %>
            <div class="certificate-section">
              <div class="certificates-header">
                <%= section.custom_name.present? ? section.custom_name : I18n.t("pdfs.#{section.name}") %>
              </div>
              <div class="certificates-container">
                <% section.certificates.order(:position).each do |certificate| %>
                  <div class="certificate-row">
                    <div class="certificate-header">
                      <div class="name"><%= certificate.name %></div>
                      <div class="date"><%= certificate.date.strftime("%m.%Y") %></div>
                    </div>
                    <div class="certificate-description"><%= certificate.description %></div>
                  </div>
                <% end %>
              </div>
            </div>

          <% when Section.get_names[:courses_section] %>
            <div class="course-section">
              <div class="courses-header">
                <%= section.custom_name.present? ? section.custom_name : I18n.t("pdfs.#{section.name}") %>
              </div>
              <div class="courses-container">
                <% section.courses.order(:position).each do |course| %>
                  <div class="course-row">
                    <div class="course-header">
                      <div class="course-name">
                        <div class="name"><%= course.name %></div>
                        <div class="institution"><%= course.institution %></div>
                      </div>
                      <div class="date"><%= course.start_date.strftime("%m.%Y") %></div>
                    </div>
                    <div class="course-description"><%= course.description %></div>
                  </div>
                <% end %>
              </div>
            </div>

          <% when Section.get_names[:educations_section] %>
            <div class="education-section">
              <div class="educations-header">
                <%= section.custom_name.present? ? section.custom_name : I18n.t("pdfs.#{section.name}") %>
              </div>
              <div class="education-container">
                <% section.educations.order(:position).each do |education| %>
                  <div class="education-row">
                    <div class="education-header">
                      <div class="school-container">
                        <div class="university"><%= education.university %></div>
                        <div class="city"><%= education.city %></div>
                      </div>
                      <div class="dates">
                        <div class="start-date"><%= education.start_date.strftime("%m.%Y") %></div>
                        -
                        <div class="end-date">
                          <%= education.end_date.present? ? education.end_date.strftime("%m.%Y") : I18n.t("pdfs.current") %>
                        </div>
                      </div>
                    </div>
                    <div class="education-container">
                      <div class="faculty">
                        <label><%= I18n.t("pdfs.faculty") %></label>
                        <%= education.faculty %>
                      </div>
                      <div class="specialisation">
                        <label><%= I18n.t("pdfs.specialisation") %></label>
                        <%= education.specialisation %>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>

          <% when Section.get_names[:employments_section] %>
            <div class="employment-section">
              <div class="employments-header">
                <%= section.custom_name.present? ? section.custom_name : I18n.t("pdfs.#{section.name}") %>
              </div>
              <div class="employment-container">
                <% section.employments.order(:position).each do |employment| %>
                  <div class="employment-row">
                    <div class="employment-header">
                      <div class="job-title">
                        <%= employment.name %>
                        <div class="employer-container">
                          <%= [employment.employer, employment.city].compact.join(" • ") %>
                        </div>
                      </div>
                      <div class="dates">
                        <div class="start-date"><%= employment.start_date.strftime("%m.%Y") %></div>
                        -
                        <div class="end-date">
                          <%= employment.end_date.present? ? employment.end_date.strftime("%m.%Y") : I18n.t("pdfs.current_work") %>
                        </div>
                      </div>
                    </div>
                    <div class="employment-description"><%= employment.description %></div>
                  </div>
                <% end %>
              </div>
            </div>

          <% when Section.get_names[:skills_section] %>
            <div class="skills-section">
              <div class="skills-header">
                <%= section.custom_name.present? ? section.custom_name : I18n.t("pdfs.#{section.name}") %>
              </div>
              <div class="skills-content"><%= section.content %></div>
            </div>

          <% when Section.get_names[:languages_section] %>
            <div class="languages-section">
              <div class="languages-header">
                <%= section.custom_name.present? ? section.custom_name : I18n.t("pdfs.#{section.name}") %>
              </div>
              <div class="languages-container">
                <% section.languages.order(:position).each do |language| %>
                  <div class="language-row">
                    <div class="language"><%= language.language %></div>
                    <div class="language-level">
                      <%= Language.get_translations_languages_levels[language.language_level.to_sym] %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>

          <% when Section.get_names[:interest_section] %>
            <div class="intrests-section">
              <div class="intrests-header">
                <%= section.custom_name.present? ? section.custom_name : I18n.t("pdfs.#{section.name}") %>
              </div>
              <div class="intrests-content"><%= section.content %></div>
            </div>

          <% when Section.get_names[:references_section] %>
            <div class="references-section">
              <div class="references-header">
                <%= section.custom_name.present? ? section.custom_name : I18n.t("pdfs.#{section.name}") %>
              </div>
              <div class="references-container">
                <% section.references.order(:position).each do |reference| %>
                  <div class="reference-row">
                    <div class="company"><%= reference.company %></div>
                    <div class="contact-information">
                      <div class="contact-person">
                        <label><%= I18n.t("pdfs.contact_person") %></label>
                        <%= reference.contact_person %>
                      </div>
                      <div class="phone-number">
                        <label><%= I18n.t("pdfs.phone_number") %></label>
                        <%= reference.phone_number %>
                      </div>
                      <div class="email">
                        <label><%= I18n.t("pdfs.email") %></label>
                        <%= reference.email %>
                      </div>
                    </div>
                    <div class="reference-description"><%= reference.description %></div>
                  </div>
                <% end %>
              </div>
            </div>

          <% when Section.get_names[:privacy_policy_sections] %>
            <div class="privacy-policy-section">
              <div class="privacy-policy-content"><%= section.content %></div>
            </div>

          <% when Section.get_names[:custom_section] %>
            <div class="custom-section-section">
              <div class="custom-section-header">
                <%= section.custom_name.present? ? section.custom_name : I18n.t("pdfs.#{section.name}") %>
              </div>
              <div class="custom-section-content"><%= section.content %></div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</body>
</html>

<script>
  const paperHeight = 1122.520;
  const windowHeight = 1202;
  const body = document.querySelector('.main-body');
  const html = document.documentElement;
  const bodyHeight = Math.max(body.scrollHeight, body.offsetHeight, body.clientHeight);
  const pages = Math.ceil(bodyHeight / windowHeight);
  const newBodyHeight = Math.ceil(parseFloat(pages) * paperHeight);
  document.querySelector('.side-body').style.setProperty('height', newBodyHeight+'px');
  document.querySelector('.main-body').style.setProperty('height', newBodyHeight+'px');
  document.querySelector('.pdf__file').style.setProperty('height', newBodyHeight+'px');
</script>
