<!DOCTYPE html>
<html>
  <head>
    <title>Cvmaker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render 'layouts/variables' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar-text float-left">
      <% if user_signed_in? %>

        <%= link_to t('.dashboard'), '/', :class => 'navbar-link' %>
        <div class="user-buttons">
          <%= link_to t('.edit_profile'), edit_user_registration_path, :class => 'navbar-link' %>
          <%= link_to t('.logout'), destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
        </div>
      <% else %>
        <%= link_to t('.sign_up'), new_user_registration_path, :class => 'navbar-link'  %>
        <%= link_to t('.login'), new_user_session_path, :class => 'navbar-link'  %>
      <% end %>

    </div>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <div class="content-container">
      <%= yield %>
    </div>
    <footer>
      <div class="author">
        <p><%= t('.copyright') %></p>
      </div>
    </footer>
  </body>
</html>
